target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# IDEs
.idea/
*.iml
*.ipr
*.iws
.vscode/
.classpath
.project
.settings/

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log
*.log.*

# Env & secrets
.env
.env.*
!.env.example
.envrc

# Build
out/
bin/

# Docker
docker-data/
*.pid

# Spring (archivos locales)
application-local.yml
application-*.local.yml

# Tests / Coverage
surefire-reports/
failsafe-reports/
jacoco.exec